{% extends "main/base.html" %} 
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="post_detail_all">
  <div>
  <div class="info_about_author">
    <img src="{% if post.author.avatar %}{{ post.author.avatar.url }}{% else %}{% static 'images/default_profile.png' %}{% endif %}" class="author_img">
    <div class="name">{{ post.author.username }}</div>
  </div>
</div>

<div class="post_detail_title">
    {{post.title}}<br />
</div>
<div class="post_detail_ingredients">
  <pre>{{post.ingredients}}<br /></pre>
</div>
<div class="post_detail_instructions">
  <pre>{{post.instructions}}<br /></pre>
</div>

  <div class="image_container">
    {% if post.image %}
    <p><img src="{{ post.image.url }}" alt="{{ post.title }}" /></p>
    {% endif %}
  </div>

  <div class="like_save_form">
  <form action="{% url 'main:like_post' post_slug=post.slug %}" method="POST" class="like_form">
    {% csrf_token %}

    {% if user in post.likes.all %}
        <button type="submit" class="like">❤️ Unlike</button>
    {% else %}
        <button type="submit" class="like">🤍 Like</button>
    {% endif %}
    x {{ post.total_likes_post }}
</form>

<form action="{% url 'main:save_post' post_slug=post.slug %}" method="POST" class="save_form">
    {% csrf_token %}

    {% if user in post.saves.all %}
        <button type="submit" class="save">💾 Unsave</button>
    {% else %}
        <button type="submit" class="save">💾 Save</button>
    {% endif %}
    x {{ post.total_saves_post }}
</form>
</div>

<div>
  <h3>Похожие рецепты:</h3>

  <ul>
    {% for r in recommendations %}
      <li><a href="{% url 'main:post_detail' r.slug %}">{{ r.title }}</a></li>
    {% endfor %}
  </ul>
</div>
</div>

{% endblock %}
