* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #7A8F55;
}


h1 {
    margin-top: 0;
}


header {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #2F4F3E;
  padding: 10px 10px;
  margin-bottom: 0px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #C67141;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  color: #D13F2A;
}

nav {
  display: flex;
  align-items: center;
}

.content {
  width: 75vw;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;
  background-color: #F4EEDB;
  text-align: center;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}


.image_container {
    width: 500px;   
    height: 500px;   
    margin: 0 auto;      
    aspect-ratio: 1 / 1;    
    overflow: hidden;
  }


.image_container img {
  width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: center;
    display: block;
}


.post_detail {
    width: 60vw;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    background-color: #2F4F3E;
    text-align: left;
    color: #F4EEDB;
}


.post_flexbox {
    display: flex;
    gap: 20px;
}


.post_detail a{
     text-decoration: none;
     color: #F4EEDB;
}

.right {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  justify-content: space-between;
  flex: 1; 
}

.left {
  flex: 1; 
}


.image_container_base {
    width: 25vw;   
    margin: 10px auto; 
  }


.image_container_base img {
  width: 100%;
  height: 100%;
  display: block;
}


.email_form {
    margin-bottom: 10px;
}


.username_forms {
    margin-bottom: 10px;
}


.password_form {
  color:aqua;
}