* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b2c5b2;
}

header {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #6b8e4e;
  padding: 10px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #3c5148;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  color: #d5dddf;
}

nav {
  display: flex;
  align-items: center;
}

.content {
  padding-left: 20px;
}

.image_conteiner {
    width: 500px;   
    height: 500px;         
    aspect-ratio: 1 / 1;    
    overflow: hidden;
  }

.image_conteiner img {
  width: 100%;
    height: 100%;
    object-fit: cover;       
    object-position: center;
    display: block;
}