{% extends "posts/base.html" %} 
{% load static %}
{% block title %}Редактирование профиля {% endblock %}

{% block content %}
<form method="post" action="#" class="edit-profile-form">
    {% csrf_token %}
    <div>
        {{ form.email }}
        {% if form.email.errors %}
        <div class="error">
            {{ form.email.errors }}
        </div>
        {% endif %}
    </div>

    <div>
        {{ form.username}}
        {% if form.username.errors %}
        <div class="error">
            {{ form.username.errors }}
        </div>
        {% endif %}
    </div>

    <div>
        {{ form.profile_image }}
        {% if form.profile_image.errors %}
        <div class="error">
            {{ form.profile_image.errors }}
        </div>
        {% endif %}
    </div>
<button type="submit" class="btn btn-save">Сохранить изменения</button>

</form>
{% endblock %}