{% block content %}

<div class="container-form">
  <h2>Login</h2>

  {% if massages %} {% for massage in massages %}
  <div class="alert">{{ masseges }}</div>
  {% endfor %} {% endif %}

  <form
    id="AuthenticationAccountForm"
    method="POST"
    hx-post="{% url 'users:login' %}"
    class="form-login"
    hx-target="#main-content"
  >
    {% csrf_token %}
    <div class="form-group">
      <div>
        {{ form.email }}
        {% if form.email.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endif %}
      </div>

      <div>
        {{ form.password}}
        {% if form.password.errors %}
        <div class="text-danger">{{ error }}</div>
        {% endif %}
      </div>

        <div>
            <button type="submit" class="btn">
            Login
            </button>
        </div>

        <div>
            <p>Don't you have an account? <a href="{% url 'users:register' %}"
                hx-get="{% url 'users:register' %}"
                hx-target="#main-content"
                hx-push-url="true">
                Register here</a></p>
        </div>
    </div>
  </form>
</div>
{% endblock content %}
