{% extends "main/base.html" %} 
{% load static %}
{% block title %}Профиль {% endblock %}

{% block content %}
<div class="container-profile">
  <h2> Добро пожаловать, {{ user.username }} </h2>


  <div class="post_detail">
    <div class="profile-image">
        <img src="{% if user.avatar %}{{ user.avatar }}{% else %}{% static 'images/default_profile.png' %}{% endif %}"
     alt="Profile Image"
     class="img-profile">
    </div>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <h4>Ваши опубликованные посты:</h4>
    {% for post in posts %}
        <div class="user-post">
            <h3><a href="{% url 'main:post_detail' post_slug=post.slug %}">{{ post.title }}</a></h3>
            <p>Опубликовано: {{ post.published_at }}</p>
        </div>
        {% empty %}
        <p>У вас еще нет опубликованных постов.</p>
        {% endfor %}

    <h4>Ваши сохраненные посты:</h4>
    {% for post in posts_saved %}
        <div class="user-post-saved">
            <h3><a href="{% url 'main:post_detail' post_slug=post.slug %}">{{ post.title }}</a></h3>
        </div>
        {% empty %}
        <p>У вас еще нет сохраненных постов.</p>
        {% endfor %}
  </div>

  <div class="profile-actions">
    <a href="{% url 'users:edit_account_details' %}"
       hx-get="{% url 'users:edit_account_details' %}"
       hx-target="#main-content"
       hx-push-url="true"
       class="btn">Редактировать профиль</a>

    <a href="{% url 'users:logout' %}" class="btn btn-logout">Выйти</a>
  </div>
{% endblock %}